[Unit]
Description=Schedule active MISP IOC enrichment synchronization

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=5min
Persistent=true
Unit=siem-misp-ioc-sync.service

[Install]
WantedBy=timers.target
