TUNNEL_KEY=/etc/siem/credentials/xui-controller-tunnel_ed25519
TUNNEL_KNOWN_HOSTS=/etc/siem/credentials/xui-controller-known_hosts
JUMP_USER=vpnadmin_rdegon
JUMP_HOST=176.108.250.215
JUMP_PORT=22
JUMP_REMOTE_PORT=18787
CONTROLLER_LOCAL_PORT=8787
